@font-face
{
    font-family: "monslar oilasi";
    src: url("../fonts/SpaceMono-Bold.ttf");
    src: url("../fonts/SpaceMono-BoldItalic.ttf");
    src: url("../fonts/SpaceMono-Italic.ttf");
    src: url("../fonts/SpaceMono-Regular.ttf");
}