#sigins {
    margin-top: 100px;
    background: $derk;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    background-image: url(../../images/footer__bacnner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        width: 415px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        /* or 100% */
        letter-spacing: -2.14286px;
        color: #FFFFFF;
    }

    .rows {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 96px;
    }
}

@media only screen and (max-width:992px) {
    #sigins {
        margin-top: 100px;
        background: $derk;
        padding-top: 100px;
        padding-bottom: 100px;
        align-items: center;

        h2 {
            width: 457px;
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            margin: auto;
            /* or 100% */
            text-align: center;
            letter-spacing: -2.14286px;

            color: #FFFFFF;
        }

        .rows {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 96px;
            margin-top: 40px;

            a {
                &:nth-child(2) {
                    margin-left: 12px;
                }
            }
        }
    }
}

@media only screen and (max-width:576px) {
    #sigins {
        margin-top: 100px;
        background: $derk;
        padding-top: 100px;
        padding-bottom: 100px;
        align-items: center;

        h2 {
            width: 311px;
            font-family: 'Space Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            /* or 100% */

            text-align: center;
            letter-spacing: -1.42857px;

            color: #FFFFFF;
        }

        .rows {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 96px;
            margin-top: 40px;

            a {
                img {
                    width: 113px;
                }

                &:nth-child(2) {
                    margin-left: 12px;
                }
            }
        }
    }
}